@import '../../sass/modules.scss';

.About {
  .banner {
    // background-color: var(--white);
    // color: var(--primary-color);
    // background-color: var(--secondary-color);
    // color: var(--primary-dark-color);
    @include BoxShadow(inset -15px, -5px, 15px, rgba(23, 8, 107, 0.3));
  }

  .tab__controls {
    border-bottom: 1px solid rgba(255, 255, 255, 0.555);
    width: 100%;
    margin: 1em 0;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .tab__control {
    &:not(:last-child) {
      margin-right: 1.5em;
    }

    a {
      color: var(--white);

      &.active {
        color: var(--secondary-color);
      }
    }
  }

  .tab {
    margin-bottom: 3em;

    .headline--3 {
      font-weight: 100;
    }

    @media screen and (max-width: 767px) {
      &:first-child {
        margin-top: 2em;
      }
    }

    @media screen and (min-width: 768px) {
      display: none;
      margin-bottom: 0;
    }

    &.active {
      display: block;
    }
  }

  .tab > .company {
    @include Grid();
    gap: 2em;

    @media screen and (min-width: 768px) {
      grid-template-columns: 8fr 4fr;
    }
  }

  .tab.team {
    @media screen and (max-width: 767px) {
      text-align: center;
    }

    .teammate {
      min-width: 300px;
      max-width: 350px;
      margin: 1em auto;
    }
  }

  .tab.skills {
    .skill__list {
      margin: 3em 0;

      .skill {
        background-color: var(--secondary-color);
        padding: 1em;
        margin: 0.5em;
      }
    }
  }

  .illustration,
  .teammate {
    height: 300px;
    background-color: #fff;
    @include BorderRadius(15px);
    padding: 2em 1em;
    color: var(--white);
  }
}
