.Section {
	background-color: var(--background-color);
	border-radius: var(--radius-2);
	margin-bottom: 0.75rem;
	min-height: 100px;
	box-shadow: var(--shadow-2);
	padding: 0.75rem;

	&--no-bg {
		--shadow: var(--shadow-2);
		--radius: var(--radius-2);
		--background-2-color: var(--background-color);

		padding: 0;
		background-color: none;
		background-image: none;
		background: none;
		box-shadow: none;
	}
}
