@import '../../sass/modules.scss';

.Home {
  // height: 90vh;
  // background: url('../../assets/svg/patterned-bg-1-01.svg');
  background-size: cover;

  .slick-slider {
    // height: 100%;
  }

  .Container {
    .banner {
      height: 75vh !important;
      margin-top: 20px;
      // padding: 2em;

      @media screen and (min-width: 992px) {
        grid-template-columns: 7fr 5fr;
        gap: 1em;
      }

      .headline {
        color: var(--primary-color);
      }

      p {
        margin-bottom: 4em;
        max-width: 600px;

        .icon {
          color: var(--secondary-color);
        }
      }

      .illustration {
        background: url('../../assets/svg/undraw_Around_the_world_re_n353.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: scale(1.2);

        @media screen and (max-width: 991px) {
          transform: scale(1.05);
          display: none;
        }
      }

      @include BorderRadius(15px);
    }
  }

  .socials {
    width: 150px;
    margin: auto;

    a {
      color: var(--gray);
    }
    .icon {
      font-size: 1.3rem;
    }
  }
}
