.Dashboard {
	// display: flex;
	// flex-direction: column;
	// min-height: 100%;

	&__section {
		&-1 {
			overflow-x: auto;
			overflow-y: hidden;
			height: 130px;
			padding-top: 23px;
			display: flex;
			align-items: center;

			.Cards {
				.Card {
					flex-shrink: 0;
				}
			}
		}

		&-2 {
			// flex: 1 0 550px;

			// max-height: calc(800px - 230px);
			// min-height: 550px !important;
			max-width: 100%;

			display: grid;
			grid-template-columns: repeat(4, 1fr);
			// grid-template-rows: repeat(4, 25%);
			grid-template-areas:
				'sect-1 sect-1 sect-1 sect-2'
				'sect-1 sect-1 sect-1 sect-2'
				'sect-3 sect-4 sect-5 sect-2'
				'sect-3 sect-4 sect-5 sect-6';

			.Dashboard__mini-section {
				&:nth-child(1) {
					grid-area: sect-1;
				}
				&:nth-child(2) {
					grid-area: sect-2;

					display: flex;
					flex-direction: column;
					justify-content: center;

					.Button {
						margin-top: 1.5rem;
					}
				}
				&:nth-child(3) {
					grid-area: sect-3;
				}
				&:nth-child(4) {
					grid-area: sect-4;
				}
				&:nth-child(5) {
					grid-area: sect-5;
				}
				&:nth-child(6) {
					grid-area: sect-6;
					background-color: var(--primary-dark-color);
					// height: 220px;
				}
			}
		}

		&-3 {
			margin: 0 !important;
		}
	}

	.products-ad {
		color: var(--background-color);
		text-align: right;

		display: flex;
		flex-direction: column;

		&__heading {
			margin-bottom: 0.375rem;
			text-align: left;

			&::first-letter {
				text-transform: uppercase;
			}
		}

		&__text {
			font-size: var(--paragraph-font-size);
			line-height: 1.1;
			margin-bottom: 0.375rem;
			text-align: left;
		}

		.Button {
			align-self: flex-end;
			width: 125px;

			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
