.Card {
  background-color: var(--background-2-color);
  min-width: 200px;
  min-height: 100px;
  border-radius: var(--radius);
  margin: 0 0.75rem 0.75rem 0;
  padding: 0.75rem;
  box-shadow: var(--shadow);

  &__title {
    text-transform: capitalize;
    color: var(--primary-dark-color);
  }
}
