@import '../../sass//modules.scss';

%flex-it {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Aside {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  padding: 2em 0;
  right: -100%;
  z-index: 100;
  height: 90vh;
  width: 100% !important;
  max-width: 300px;
  background-color: var(--secondary-color);
  background-color: var(--primary-color);
  // background-color: var(--white);
  background: url('../../assets/svg/undraw_sharing_articles_t5aa\ \(1\).svg'),
    var(--primary-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  @include BorderRadius(20px);
  transition: all 0.4s ease;
  --text-color: var(--primary-color);
  --text-color: var(--white);
  @include BoxShadow(-10px, 10px, 30px, rgba(0, 0, 0, 0.2));
  @extend %flex-it;

  &.open {
    right: 2%;
  }

  .close-icon {
    border-color: var(--white);
    opacity: 0.8;
    .icon {
      color: var(--white);
    }
  }

  &::-webkit-scrollbar {
    &-track {
      background: var(--background-color);
    }
  }

  &__header {
    text-align: center;

    .Button {
      margin: 2.4375rem 0 1.5rem;
    }

    .Navbar {
      text-align: left;
    }
  }

  &__footer {
    @extend %flex-it;
    height: 130px;
  }

  &__version {
    padding: 0 0 0.375rem 0.75rem;
    color: var(--text-color);
    text-transform: capitalize;
    font-size: 0.75rem;
    font-weight: 900;
  }

  .Navbar {
    &__list {
      padding: 0;
      margin: 4em 0 0;
    }

    &__item {
      list-style: none;
    }

    &__link {
      // display: block;
      padding: 0.5625rem 0.75rem;
      color: var(--text-color);
      transition: var(--slow-transition);
      text-transform: capitalize;
      font-size: 0.9375rem;
      font-size: 0.875rem;
      overflow: hidden;
      position: relative;
      border-left: 3px solid transparent;

      .icon {
        color: var(--secondary-color);
        margin-right: 0.5em;
        margin-bottom: -0.1em;
      }

      &:hover {
        opacity: 0.8;
      }

      &:focus,
      &--active {
        outline: none;
        // background-color: var(--secondary-color);
        text-decoration: none;
        border-color: var(--text-color);
      }
    }
  }
}
