.Main {
  overflow: hidden;

  .Container {
    height: 100%;
  }

  .Aside {
    flex: 1;
    max-width: var(--aside-width);
    overflow: auto;
  }

  .MainContent {
    flex: 1;
    overflow-y: auto;
  }
}
