.date-picker {
  background-color: var(--white);
  padding: 1em;
  max-width: 100%;
  overflow: hidden;

  .react-datepicker {
    width: 100%;
  }

  @media screen and (max-width: 990px) {
    display: none;
    &.show {
      display: block;
    }
  }
}

// From GitHub: https://github.com/Hacker0x01/react-datepicker/issues/624
.react-datepicker {
  width: 100% !important;
  max-width: 100% !important;
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
  width: 100% !important;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__month--container {
  width: 100% !important;
  margin: 0.4em 1em;
}

.react-datepicker__current-month {
  color: var(--primaryColor) !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__day--selected {
  background: var(--primaryGradient) !important;
  outline-color: var(--primaryColor) !important;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}
