.auth {
  .form-container.signup-form-container {
    max-width: 100% !important;
  }

  .illustration {
    display: none;

    @media screen and (min-width: 900px) {
      display: block;
    }
  }

  &.signup .brand {
    @include background(
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.432) 30%,
        rgba(255, 255, 255, 0.253)
      ),
      // url('../src/patterns/Taieri.png')
        url('../src/patterns/Waiau.png')
    );
    // background: $primaryColor;
  }

  .brand {
    text-align: center;
    margin-bottom: 1em;
    position: relative;
    .brand-logo {
      font-size: 2rem;
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 5%;
      @include transform(translateX(-50%));
      width: 20px;
      border-bottom: 1px solid $primaryColor;
    }
  }
  .form-container {
    background-color: #fff;
  }

  .form-title {
    color: $primaryColor !important;
  }
  form {
    width: 100%;
    display: block;
  }

  .form-footer {
    text-align: center;
  }
}
