// ******* Styles SVG Illustrations *******
.illustration {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  // background: $primaryColor;
  color: $white;
  @include borderRadius(10px);
  // @include boxShadow(0px 10px 15px rgba(119, 105, 153, 0.3));
}
