.menu {
  .menu-item {
    font-size: 0.8rem;
    // font-weight: bold;

    &:not(:first-child) {
      margin-left: 2em;
    }

    &:hover {
      a {
        color: $primaryColor;

        &.auth-btn {
          color: $white;
        }
      }
    }
  }
}
