.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 100;
  width: 96.7%;
  max-width: 700px;
  height: fit-content;
  min-height: 200px;
  @include BorderRadius(7px);
  overflow: hidden;
}
