.search__header {
  margin: 1em 0;
  color: var(--primaryColor);
}

.search__controller {
  flex-grow: 1;
  width: fit-content;
  margin: 0 0.5em;

  @media screen and (max-width: 767px) {
    //    flex-grow: 0;
  }

  .search__controls {
    .search__control {
      &--close {
        font-size: 1.6rem;
      }

      @media screen and (min-width: 768px) {
        dispaly: none;
      }
    }
  }
  .search-box {
    margin-top: 0em;

    .input-group {
      @include BorderRadius(0);
    }
  }

  @media screen and (max-width: 767px) {
    //    .search-box {
    //      margin-top: 0em;
    //      flex-grow: 0;
    //      height: fit-content;
    //      transform-origin: top;
    //      transition: 0.3s ease;
    //      position: absolute;
    //      left: 0;
    //      bottom: 1%;
    //      width: 100vw;
    //      z-index: -1;
    //      opacity: 0;
    //
    //      .btn {
    //        display: none;
    //      }
    //    }
    //
    //    &--expand {
    //      .search-box {
    //        transform: translateY(100%);
    //        opacity: 1;
    //      }
    //    }
  }
}

.search-box {
  flex-grow: 1;
  position: relative;
  margin-top: 1em;
  width: 100%;

  .input-group {
    background-color: var(--white);
  }

  @media screen and (max-width: 767px) {
    padding: 0;

    .input-group {
      width: 100%;
      max-width: 100%;
      background-color: var(--white);
      .form-control {
        max-width: 100%;
      }
    }
  }
}
