.scroll-slider {
  justify-content: start !important;
}
.scroll-slider::-webkit-scrollbar {
  display: none;
}

.h-scroll-slider__parent {
  position: relative;
}

.h-scroll-slider {
  overflow-x: auto;

  &__child {
    min-width: 180px !important;
    max-width: 180px !important;
    width: fit-content;
    overflow: hidden;
    display: block;
    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}

.slide-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @include BoxShadow(0px, 5px, 10px, rgba(0, 0, 0, 0.3));
  background-color: #fff;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.rounded {
    @include BorderRadius(50%);
    height: 30px;
    width: 30px;

    @media screen and (min-width: 768px) {
      height: 40px;
      width: 40px;
    }
  }

  &:hover {
    background-color: rgb(218, 218, 218);
  }

  &.left {
    left: -2%;
  }
  &.right {
    right: -2%;
  }
}
