.Header {
  // --text-color: #fff;
  padding: 2em 0;

  // background: linear-gradient(
  //   90deg,
  //   var(--primary-dark-color) 50%,
  //   var(--primary-color)
  // );
  max-width: var(--container-max-width);
  width: 100%;
  margin: 0 auto;

  button#subscription-cta {
    span {
      margin-left: 0.3em;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  .icon {
    color: var(--assent-color);
    font-size: 1.5rem;
  }

  .Container {
    align-items: center;
    justify-content: space-between;
  }

  .Brand {
    flex: 1;
    text-align: center;
    max-width: var(--aside-width);
    color: var(--text-color);
    transform: translateX(43%);

    @media screen and (max-width: 767px) {
      transform: translateX(15%);
    }
  }

  .Navbar {
    flex: 1;

    &__list {
      display: flex;
      list-style: none;
      margin: 0;
    }

    &__link {
      display: block;
      padding: 0.5625rem 0.75rem;
      transition: var(--fast-transition);
      color: var(--text-color);
      border-bottom: 3px solid transparent;

      &:hover,
      &--active {
        text-decoration: none;
        color: var(--primary-trans-2-color);
      }
      &--active {
        border-color: var(--primary-trans-2-color);
      }
    }
  }

  &__icons {
    // padding: 0 0.75rem;
    display: flex;
    align-items: center;

    .Button {
      margin-left: 0.375rem;
    }
  }
}
