@import './sass/modules.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;

    &-track {
      background: linear-gradient(var(--line-color) 30%, transparent);
    }
    &-thumb {
      background: var(--primary-dark-color);
      border-radius: 10px;
    }
  }
}

a {
  color: var(--primary-color);
  transition: var(--fast-transition);

  &:hover {
    color: var(--primary-dark-color);
    text-decoration: none;
  }
}

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(var(--line-2-color), var(--line-color));
}

html {
  // color variables
  // --primary-color: rgb(57, 21, 154);
  --primary-color: rgb(16, 145, 134);
  --primary-dark-color: rgb(34, 51, 98);
  --primary-trans-color: rgba(255, 255, 255, 0.3);
  --primary-trans-2-color: rgba(255, 255, 255, 0.5);

  --assent-color: rgb(51, 204, 153);

  --text-color: rgb(37, 37, 37);
  --text-trans-color: rgba(37, 37, 37, 0.1);

  --background-color: #fffbfb;
  --background-2-color: #fafafa;

  --line-color: rgb(240, 240, 240);
  --line-2-color: rgb(250, 250, 250);

  // transitions
  --slow-transition: 0.5s ease;
  --fast-transition: 0.15s ease;

  // widths
  --aside-width: 185px;
  --container-max-width: 1440px;

  // shadows
  --shadow: 3px 3px 3px var(--text-trans-color);
  --shadow-2: 0 0 7px var(--text-trans-color);

  // radius
  --radius: 0.375rem;
  --radius-2: 0.5625rem;

  // font sizes
  --paragraph-font-size: 0.84375rem;
}

p {
  font-size: var(--paragraph-font-size);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}
.link {
  text-decoration: underline;
}

// BLOCKS

/**
 * mini-section are Block sectors for section elements inside the Section Component
 * @example
 *  <Section>
      <section className="mini-section ...">...</section>
    </Section>
*/
.mini-section {
  background-color: var(--background-2-color);
  // border-radius: var(--radius);
  margin: 0 0.75rem 0.75rem 0;
  padding: 0.75rem;
  box-shadow: var(--shadow);
}

// Text Alignment
.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}
